<strong>Recuperação de senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o seu e-mail({{email}})</p>

<p>Caso você não tenha requerido a recuperação da senha, por favor troque sua senha</p>

<p>Para proceder com a recuperação da senha, utilize o token {{token}} ou clique no link abaixo. </p>

<a a href="{{link}}">Criar nova senha</a>
